/* CONTATTI*/
table{margin-left:auto;
	margin-right:auto;}

img{width:110;
	height:110;
	display:block;
	margin-left:50;
	margin-right:50;}
	
.img1{width:133;
	height:135;
	display:block;
	margin-left:50;
	margin-right:50;}	
	
.img2{width:120;
	height:120;
	display:block;
	margin-left:50;
	margin-right:50;}

.img4{width:110;
	height:110;
	display:block;
	margin-left:50;
	margin-right:50;}
	
.img3{width:110;
	height:110;}

.img5{width:300;
	height:80;}
	
.img6{width:210;
	height:110;
	display:block;
	margin-left:50;
	margin-right:50;}
	
.celle-unite{width:666.4;
	height:100;}

.testo{ color:rgb(8, 29, 114);
		font-family:sans-serif;
		font-size:23px;}

/* END CONTATTI*/

#opzioni {
	justify-content: center;
	display: flex;
	padding: 0px 0px 10px 85px
}

ul#menu {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    margin: 2;
    list-style: none;
    margin-top: 50px
   
}
ul#menu li {
    background-color: #9de2fd;
    border-bottom: 5px solid #03b7ff;; 
    display: block;

    width: 250px;
    height: 50px;
    margin: 2px;
    float: left;
}
ul#menu li a {
    color: #00146e;
    display: block;
    font-weight: bold;
    line-height: 50px;
    text-decoration: none;
    width: 170px;
    height: 50px;
    text-align: center;
}
ul#menu li.active, ul#menu li:hover {
    background-color: #00000000;
    border-bottom: 5px solid #58434300;
}


body{background-image: url(https://storage.orobie.it/media/filer_public/b5/54/b5549f8d-91db-441d-8f23-f5a7c734a55a/35992_02_627_lago-pusiano_e-isola-cipressijpg.jpg);background-repeat:no-repeat ;background-size: 100%;background-position: center;}

/*FORMATTAZIONE TESTO*/
#titolo{font-family:Palatino,URW Palladio L,serif; font-size: 66px; text-align: center;background-color: #00c3ffb7;color: #ffffff;margin-left: 25%;margin-right: 25%;}

h2 {font-family:Palatino,URW Palladio L,serif; font-size: 44px; text-align: center;background-color: 	rgb(175, 225, 175, 0.8);color: #ffffff;margin-left: 25%;margin-right: 25%;}

#o {font-family: American Typewriter, serif;font-size: 24px;text-align: center;color: #ec3131;margin-left: 0%;margin-right: 10%; background-color: white;}

#o2 {font-family: American Typewriter, serif;font-size: 24px;text-align: center;color: #ec3131;margin-left: 20%;margin-right: 20%; background-color: white;}

#o3 {font-family: American Typewriter, serif;font-size: 24px;text-align: center;color: #ec3131;margin-left: 10%; background-color: white;}
#divimg{ display: flex;
    justify-content: center;
    align-items: center;}
#ele1 {margin-left: 25%;
    width: 400px;
	height: 350px;}


#cr {margin-right: 4%;
    width: 150px;
	height:100px;}


#cr2{display: flex;
    justify-content: left;
    align-items: left ;}


.row {
        justify-content: center;
        background-color: rgba(#9de2fd);        
        position: absolute;
        bottom: 0;
        text-align: center;
       
      }
     
.center-image {
        width: auto;
        height: 50px;
        margin: 0 10px;
      }


#cr3{align-items: center;display: flex;justify-content: center;}
#cr4{} 
body{
	font-size:100%;
	color:#333;
	font-family:sans-serif;
}

/*container*/
#drop-menu {
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

/*menu*/



body{
	font-size:100%;
	color:#333;
	font-family:sans-serif;
}

/*container*/
#drop-menu {
    text-align: center;
	margin: 0 auto;
	padding: 0;
	width: 960px;
}

#imginf {
	width: 640px;
	height: 480px;
	display: flex;

}

/*menu*/

#menu {
  display: table;
}

#menu li {
  display: table-cell;
  width: 400px;
  flex-grow: 1;
  margin: 0 10px;
  position: relative;
  text-align: center;
}

#menu li a {
  color: #000;
  display: block;
  padding: 10px;
}

#menu li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

#menu li a:hover:before {
  transform: scaleX(1);
}
